<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="css/style.css" />
		<title>U'Form | Smart Data Collection</title>
	</head>
	<body>
		<header class="header">
			<a href="/"
				><img src="img/logo.png" class="navigation__logo" alt="logo"
			/></a>

			<nav class="navigation__nav">
				<ul class="nav__links">
					<li class="navigation__list"><a href="/">Accueil</a></li>
					<li class="navigation__list"><a href="#">A propos</a></li>
					<li class="navigation__list"><a href="#">Prix</a></li>
				</ul>
			</nav>
			<div>
				<a href="/login" class="btn btn--blue btn--animated">Connexion</a>
				<a href="/register" class="btn btn--red btn--animated">Inscription</a>
			</div>
		</header>
	</body>
</html>
