<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap"
			rel="stylesheet"
		/>

		<link
			href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		/>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
		<script
			src="https://code.jquery.com/jquery-3.4.1.min.js"
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			crossorigin="anonymous"
		></script>
		<link rel="stylesheet" href="css/style.css" />

		<title>Créer un Formulaire | U'Form</title>
	</head>
	<body>
		<header class="header">
			<a href="/"
				><img src="img/logo.png" class="navigation__logo" alt="logo"
			/></a>

			<nav class="navigation__nav">
				<ul class="nav__links">
					<li class="nav-item dropdown">
						<a
							class="nav-link dropdown-toggle navigation__list"
							data-toggle="dropdown"
							href="#"
							role="button"
							aria-haspopup="true"
							aria-expanded="false"
							>Username</a
						>
						<div
							class="dropdown-menu"
							style="width: 30rem; margin-right: 10rem;"
						>
							<a class="dropdown-item navigation__list" href="#">
								<img
									src="img/settings.png"
									alt="settings"
									style="height: 2.5rem; width: 2.5rem; float: left;"
								/>
								Paramètres</a
							>
							<a class="dropdown-item navigation__list" href="/" id="logout">
								<img
									src="img/logout.png"
									alt="logout"
									style="height: 2.5rem; width: 2.5rem; float: left;"
								/>
								Déconnexion</a
							>
						</div>
					</li>
				</ul>
			</nav>
		</header>
	</body>
</html>
