<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap"
			rel="stylesheet"
		/>

		<link
			href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
			rel="stylesheet"
		/>

		<link rel="stylesheet" href="css/style.css" />

		<!-- The core Firebase JS SDK is always required and must be listed first -->
		<script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-app.js"></script>
		<script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-auth.js"></script>
		<script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-firestore.js"></script>
		<title>Inscription | U'Form</title>
	</head>
	<body>
		<header class="header">
			<a href="/"
				><img src="img/logo.png" class="navigation__logo" alt="logo"
			/></a>
		</header>
	</body>
</html>
