
<%-include("layout/header") -%>


<main>
    <section class="section-about">
        <div class="row">
            <div class="col-1-of-2">
                <h2 class="heading-primary u-margin-bottom-medium">
                    Smart Data <br>Collection
                </h3>
                <p class="paragraph-bold u-margin-bottom-big">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Obcaecati dignissimos doloremque dicta commodi est quod animi
                    provident debitisque.
                </p>
                <div>
                    <a href="" class="btn btn--red btn--animated">Inscription</a>
                    <a href="" class="btn btn--blue btn--animated">Découvrir</a>
                    
                </div>
        

            
            </div>

            <div class="col-1-of-2">
                <div class="composition">
                    <img
                        src="img/undraw_personal_goals_edgd.png"
                        alt="Photo 1"
                        class="composition__photo composition__photo--p1"
                    />
                    <img
                        src="img/undraw_data_trends_b0wg.png"
                        alt="Photo 2"
                        class="composition__photo composition__photo--p2"
                    />
                    <img
                        src="img/undraw_data_xmfy.png"
                        alt="Photo 3"
                        class="composition__photo composition__photo--p3"
                    />

                    <img
                        src="img/undraw_creative_experiment_8dk3.png"
                        alt="Photo 4"
                        class="composition__photo composition__photo--p4"
                    />
                </div>
            </div>
        </div>
    </section>
</main>
<%-include("layout/footer") -%>