<%-include("layout/header-login") -%>
<section class="section__login">
	<div class="bg-video">
		<video class="bg-video__content" autoplay muted loop>
			<source src="img/video-background-login.mp4" type="video/mp4" />
			<source src="img/video.webm" type="video/webm" />
			Your browser is not supported!
		</video>
	</div>
	<div class="container u-center-text">
		<div class="u-center-text">
			<h2 class="heading-secondary u-margin-bottom-medium">
				Connexion
			</h2>

			<div class="form__group">
				<input
					type="email"
					name=""
					id=""
					class="form__input"
					placeholder="Adresse e-mail"
					style="margin-left: 2rem;"
					required
				/>
				<label
					for="email"
					class="form__label u-center-text"
					style="margin-left: 0;"
				>
					Adresse e-mail</label
				>
			</div>

			<div class="form__group">
				<input
					type="password"
					name=""
					id=""
					class="form__input"
					placeholder="Mot de passe"
					required
					style="margin-left: 2rem;"
				/>
				<label for="email" class="form__label" style="margin-left: 0;">
					Mot de passe</label
				>
			</div>

			<div class="form__radio-group">
				<input
					type="checkbox"
					class="form__radio-input"
					name="size"
					id="remember"
				/>

				<label
					for="small"
					class="form__radio-input-label"
					style="margin-right: 3.5rem;"
				>
					Se souvenir de moi</label
				>
				<label
					for="small"
					class="form__radio-input-label"
					style="margin-left: 1.5rem;"
				>
					Mot de passe oublié?</label
				>
			</div>

			<div style="margin-top: 4rem;">
				<a href="/login" class="btn btn--red btn--animated">Connexion</a>
				<a href="/register" class="btn btn--blue btn--animated">Je m'inscris</a>
			</div>
		</div>
	</div>
</section>

<%-include("layout/footer") -%>
