<%-include("layout/header-register") -%>

<section class="section__register">
    <div class="row">
        <div class="col-1-of-2">
            <img
                src="img/register.png"
                alt="undraw_work_together_h631"
                class="img-register "
            />
            
            <h2 class="heading-secondary h2-register-1">
               Travaillons ensemble !
            </h3>
           
        </div>
        <div class="col-1-of-2">
            <h2 class="heading-secondary u-margin-bottom-small h2-register">
                Créer un compte
            </h3>

            <p class="paragraph-lato-register u-margin-bottom-medium">
                Pour commencer à utiliser nos services, veuillez renseigner votre adresse <br>e-mail et configurer votre mot de passe
            </p>

            <form action="POST" class="form" id="signup-form">
               
                <div class="form__group">
                    <input
                        type="text"
                        name=""
                        id="firstName"
                        class="form__input"
                        placeholder="Nom"
                        required
                    />
                    <label for="name" class="form__label">Nom</label>
                </div>

                <div class="form__group">
                    <input
                        type="text"
                        name="lastName"
                        id=""
                        class="form__input"
                        placeholder="Prénom"
                        required
                    />
                    <label for="name" class="form__label">Prénom</label>
                </div>

                <div class="form__group">
                    <input
                        type="email"
                        name="email"
                        id=""
                        class="form__input"
                        placeholder="Adresse e-mail"
                        required
                    />
                    <label for="email" class="form__label">  Adresse e-mail</label>
                </div>

                <div class="form__group">
                    <input
                        type="password"
                        name="password"
                        id=""
                        class="form__input"
                        placeholder="Mot de passe"
                        required
                    />
                    <label for="email" class="form__label u-margin-bottom-small">  Mot de passe</label>
                </div>
               
                        <div>
                            <button type="submit" class="btn btn--red btn--animated">Inscription</button>
                            <a href="/login" class="btn btn--blue btn--animated">J'ai déjà un compte</a>
                            
                        </div>
                    </div>
                </div>
                
        </div>
    </div>
    
</section>





<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyCZG_2obib1kupcU2QeYRqTMNFwgzGRSPI",
    authDomain: "typeform-28c45.firebaseapp.com",
    databaseURL: "https://typeform-28c45.firebaseio.com",
    projectId: "typeform-28c45",
    storageBucket: "typeform-28c45.appspot.com",
    messagingSenderId: "877256869961",
    appId: "1:877256869961:web:084ff01c5c9b5e6f0c5798",
    measurementId: "G-C1SVG56ZYJ"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);

  // references
  const auth = firebase.auth();
  const db = firbase.firestore();

  // update firestore settings
  db.settings({timestampsInSnapshots: true});

</script>
<script src="../auth.js"></script>
<%-include("layout/footer") -%>
